.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
}

.BtnWrapper {
  margin: 1rem auto;
  padding: 0.5rem;
  width: 80%;
}

.App-link {
  color: #61dafb;
}

.Greeting {
  text-align: right;
  margin-right: 1rem;
}

.Title { text-align: center; }

.toastStyle {
  background-color: rgba(0,0,0,0.38);
  color: #fff;
  text-align: center;
  justify-content: center;
  align-self: center;
  visibility: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
