:root {
    --primary: #4628ff;
    --secondary: #cccccc;
    --warning: #ffd028;
    --danger:#eb3f27;
    --success: #46d229;
}

.card {
    margin: 1rem auto;
    padding: 0.5rem;
    width: 80%;
    /* list-style-type: none; */
}

.card--primary--solid {
    background-color: var(--primary);
    color: #fff;
    border: none;
}
/* .card--secondary--solid
.card--warning--solid
.card--danger--solid
.card--success--solid */
.card--primary--outline {
    background-color: transparent;
    color: var(--primary);
    border: 2px solid var(--primary);
    border-color: var(--primary);
}
/* .card--secondary--outline
.card--warning--outline
.card--danger--outline
.card--success--outline {} */